<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent Marker">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="{{ url_for('static', filename='css/paint.css') }}">
</head>

<script src="{{ url_for('static', filename='js/paint.js') }}" defer></script>

<body>
<h1 >Paint here</h1>
<div class="paint-wrap">
<div class="paint">
<div id="im">
<img src="{{ url_for('video') }}" />
</div>
<div class="bt1">
<button class="color-btn none-btn active" onclick="setNone()" style="border-color:white;">None</button>
<button class="color-btn" data-id="0" onclick="setColor(0)" style="border-color:blue;">Blue</button>
<button class="color-btn" data-id="1" onclick="setColor(1)" style="border-color:green;">Green</button>
<button class="color-btn" data-id="2" onclick="setColor(2)" style="border-color:yellow;">Yellow</button>
<button class="color-btn" data-id="3" onclick="setColor(3)" style="border-color:orange;">Orange</button>
<button class="color-btn" data-id="4" onclick="setColor(4)" style="border-color:pink;">Light Pink</button>
</div>
</div>
<div class="btn">
<a href="/home">
<button id="hm">Back Home</button>
</a> 
<button id="res" onclick="fetch('/clear')">Reset</button>
</div>
</div>
</body>
</html>
